
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-device-width:468px) and (max-device-width:768px) {
  .container {
    max-width: 430px;   
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .container> cont{
    max-height: 430px;   
  }
 
}
  /* Responsive: Laptops */
@media screen and (min-device-width:100px) and (max-device-width:20000px) {
  .container {
    max-width: 1560px;   
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .container> cont{
    max-height: 1560px;   
  }
 
}
/****************************************************** Gontse Custom Changes ****************************************************/

/* Make statuses horizontal */
.user-story-display-wrapper{ 
    display: inline;
   
}
.cols{ /* ul */
    list-style-type: none; 
     width:16%; 
     float:left;
}
/* Make user stories look like real paper cuts*/
.papercuts { 
    position: relative;	
	padding: 15px;
	margin: 10px auto;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.9), inset 0 0 50px rgba(0, 0, 0, 0.2);
}

.type-bar Big Change{
    margin: auto;
    width: 70%; 
    border-bottom: 3px solid yellow;
    position: absolute;
    }
    .selectedStory{
    float: right;
    margin:0 0 0 0 ;
    width: 350px;;
    font-size: 21px;
    margin: auto;
    box-shadow:0 0 30px 0;  
    padding:19px 19px 19px 19px; 
    border: solid 1px #E5E5E5; 
    outline: 0; 
    font: normal 13px/100% Verdana, Tahoma, sans-serif; 
    height: 100%;
    background: #FFF;
 
    }
    .user-story-display-area{
     float: left;
      
    }
    textarea{
        width: 300px;
    }
