<div class="user-story-display-area">
    <div class="user-story-display-wrapper">
        <ul class="cols" ng-repeat="status in ::main.statuses">
            <h3 class="colStatus">{{::status.name}}</h3>
            <hr/>
            <li class="userstory" ng-repeat="userstory in main.UserStories | filter:{status:status.name}">
                <div class="papercuts">
                <article>
                    <div>
                        <button type="button" class="close">x</button>
                        <p class="title">{{userstory.title}}</p>
                    </div>
                    <div class="type-bar  {{userstory.type}}">
                        
                    </div>
                    <div>
                        <p>{{userstory.description}}</p>
                    </div>
                </article>
                </div>
            </li>
        </ul>
    </div>
</div>


<!--<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>-->

