<div class="user-story-display-area">
    <div class="user-story-display-wrapper">
        <ul class="cols" ng-repeat="status in ::main.statuses">
            <h3 class="colStatus">{{::status.name}}</h3>
            <hr/>
            <li class="userstory" ng-repeat="userstory in main.UserStories | filter:{status:status.name}"  ng-click="main.setCurrentUserStory(userstory)">
                <div class="papercuts">
                <article>
                    <div>
                        <button type="button" class="close">x</button>
                        <p class="title">{{userstory.title}}</p>
                    </div>
                    <div class="type-bar  {{userstory.type}}">
                        
                    </div>
                    <div>
                        <p>{{userstory.description}}</p>
                    </div>
                </article>
                </div>
            </li>
        </ul>
    </div>
    
    
</div>

<div class="selectedStory">
    <h3>User Story Details</h3>
    <form name="main.userStoryDetailsForm">
        <div class="form-group">
            <div class="controls">
                
            </div>
            <div>
                <label ng-required="true">Title</label>
                <input type="text" ng-model="main.editedUserStory.title" ng-required="true" ng-minlength="2" ng-maxlength="50"class="form-control"/>
                <label ng-required="true">Status</label>
                <select id="status" name="status"  ng-required="true" ng-options="status as status.name for status in main.statuses track by status.id" class="form-control" ng-model="main.editedUserStory.status"/>            
                <label ng-required="true">Description</label>
                <textarea ng-model="main.editedUserStory.description" rows="3" cols="35" id="desc"></textarea>
                <label ng-required="true">Assign to</label>
                <select id="teamMemeber" name="teamMemeber" ng-model="main.editedUserStory.assignedTo" ng-required="true" ng-options="member as member.name for member in main.teamMembers track by member.id" class="form-control"/>
                <div ng-if="main.currentUserStory">
                    <button class="btn btn-lg btn-success" ng-click="main.cancel()"style="float:left;width: 100px;">Cancel</button>
                    <button class="btn btn-lg btn-success" ng-click="main.upadate()" style="float:right;width: 200px;">Update user story</button>
                </div>
            </div>
        </div>
        
    </form>
</div>

<!--<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>-->

